body{
    padding: 10%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    border-radius: 3px;
    color: aliceblue;
    padding: .3rem .8rem;

}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-primary {
    margin-top: 10px;
}

.book-genre {
    display: block;
}

.book-read {
    margin-left: 1rem;
    padding: .1rem .3rem;
    border-radius: 3px;
}

.book-read:hover {
    cursor: pointer;
}

.notread-status {
    background-color: #e5e7eb;
    color: #be185d;
    
}

.read-status {
    background-color: #2eb174;
    color: #fff;
}